@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all browsers */
body, html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Optionally, prevent accidental horizontal scroll */
body, html {
  overflow-x: hidden;
}
